image {
  width: 100vw;
  height: 100vh;
  // border: 1px solid red;
}


.close-icon {
  position: absolute;
  z-index: 99999;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
}

.log-list {
  position: absolute;
  // top: 120px;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-imga {
  width: 230.775px;
  height: 44.1px;
  flex-shrink: 0;
}

.log-imgb {
  width: 200px;
  height: 2px;
  margin-top: 16.9px;
  margin-bottom: 12.9px;
  flex-shrink: 0;
}

.log-imgc {
  width: 201.924px;
  height: 18.7px;
  flex-shrink: 0;
}

.explore {
  color: white;
  width: 70%;
  height: 50px;
  background: #fb8c00;
  text-align: center;
  line-height: 50px;
  border-radius: 30px;
}

.animation-box {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}