/* component/Claimprize.wxss */
.button {
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-family: STHeiti;
    // border: 1px solid rgba(0, 0, 0, 0.80);
    position: relative;
    overflow: hidden;
    background: #FFF;
    border-radius: 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 130px;
    height: 44px;
    padding: 12px 33px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(to right, #ec695c, #61c454) no-repeat right bottom;
    // background: linear-gradient(to top, #ec695c, #61c454) no-repeat right top;
    background-size: 0 2px;
    transition: background-size 1300ms;
}



// .out::after {
//     content: '';
//     position: absolute;
//     left: -50%;
//     top: -50%;
//     width: 200%;
//     height: 200%;
//     background-repeat: no-repeat;
//     background-size: 50% 50%, 50% 50%;
//     background-position: 0 0, 100% 0, 100% 100%, 0 100%;
//     background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
//     animation: div3Rotate 4s linear infinite;
// }
.out {
    width: 130px;
    height: 44px;
    background: #ccc;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    // overflow: hidden;
}

.in {
    margin: 1px;
    width: 128px;
    height: 42px;
    display: flex;
    flex-direction: row;
}
.prize_success{
  
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top:-44px;
    width: 130px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 44px;
    background: rgb(0, 47, 255);
    display: none;
    image{
        margin-right: 10px;
    }
}
.content {
    width: 128px;
    line-height: 44px;
    text-align: center;
}

.border {
    &-top {
        position: absolute;
        right: -130px;
        width: 130px;
        height: 1px;
        background: rgb(0, 140, 255);
    }

    &-bottom {
        position: absolute;
        bottom:0px;
        left: -130px;
        width: 130px;
        height: 1px;
        background: rgb(0, 140, 255);
    }

    &-left {
        position: absolute;
        top: -44px;
        width: 1px;
        height: 44px;
        background: rgb(0, 140, 255);
    }

    &-right {
        position: absolute;
        right:0;
        bottom: -44px;
        width: 1px;
        height: 44px;
        background: rgb(0, 140, 255);
    }
}