image {
  width: 100vw;
  height: 100vh;
  // border: 1px solid red;
}

.log-list {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.log-imga {
  width: 230.775px;
  height: 44.1px;
  flex-shrink: 0;
}

.log-imgb {
  width: 200px;
  height: 2px;
  margin-top: 16.9px;
  margin-bottom: 12.9px;
  flex-shrink: 0;
}

.log-imgc {
  width: 201.924px;
  height: 18.7px;
}

.animation-box {
  position: absolute;
  // top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}