/**index.wxss**/
.card {
  &-list {
    position: relative;
  }

  &-item {
    position: absolute;
    width: 100vw;
    height: 320px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;

    &-0 {
      background: #AC4141;
    }

    &-1 {
      top: 250px;
      background: #8F5454;
    }

    &-2 {
      top: 400px;
      background: #832F29;
    }
  }

  &-img {
    width: 209px;
    height: 104px;
    margin: 0 auto;
  }

  &-title {
    font-family: PingFang SC;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
  }

  &-desc {
    font-family: PingFang SC;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0px;
    text-align: center;
  }
}